body {
	margin: 0;
	padding: 0;
	background: url(../img/fondo.jpg) no-repeat center top;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.password-box{
	border-radius: 20px;
	width: 500px;
	height: 600;
	background: #000;
	opacity:90%;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	box-shadow: 0 0 240px #171283, 0 0 20px #171283, 0 0 24px #171283;


  border: 2px solid steelblue;
}

.password-box .avatar{
	width: 100px;
	height: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.password-boxh1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 20px;
}

.password-box label{
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}

.password-box input{
	width: 100%;
	margin-bottom: 20px;
}

.password-box input[type = "text"],
.password-box input[type = "password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.password-box input[type = "submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #0023d1;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}


.password-box input[type = "button"]{
	border: none;
	outline: none;
	height: 40px;
	background: #86b6f4;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}


.password-box a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgray;
}

.password-box a:hover {
		color: #fff;
}


